{{ 'page--contact.css' | asset_url | stylesheet_tag }}

<style>
  .contact-merch {
    padding: 40px;
  }
  
  .contact-merch p {
    text-align: center;
    line-height: 1.4;
  }

  .contact-merch a {
    color: var(--green);
  }
</style>

<div class="contact-title">
    <h1>{{ section.settings.title | default: 'Contact us' }}</h1>
</div>

<ul class="contact-list">
    {% for block in section.blocks %}
        <li class="contact">
            <div class="left">
                <h2 class="type">
                    {{ block.settings.contact_type }}
                </h2>
            </div>
            <div class="right">
                {% if block.settings.contact_agent %}
                    <div class="agent">
                        {{ block.settings.contact_agent }}
                    </div>
                {% endif %}
                <div class="value">
                    <a href="{{ block.settings.contact_url }}" title="{{ block.settings.contact_type }}">
                        {{ block.settings.contact_value }}
                    </a>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>

<div class="social-media-container">
    {% render 'social-media-icons--labels', alignment: 'center' %}
</div>

<div class="contact-merch">
  <p>Email <a href="mailto:info@merchconnectioninc.com" title="Merch Connection">info@merchconnectioninc.com</a> with questions about store orders.</p>
</div>

{% schema %}
    {
      "name": "Contact Page",
      "tag": "section",
      "class": "contact-page",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ],
      "blocks": [
         {
           "name": "Contact",
           "type": "contact",
           "settings": [
             {
               "type": "text",
               "id": "contact_type",
               "label": "Type",
               "info": "Example: Booking (US)"
             },
             {
               "type": "text",
               "id": "contact_value",
               "label": "Contact"
             },
             {
               "type": "text",
               "id": "contact_agent",
               "label": "Agent name",
               "info": "Use if you wish to list a booking agent's name"
             },
             {
               "type": "url",
               "id": "contact_url",
               "label": "URL",
               "info": "For email links, use 'mailto:'. Example: mailto:contact@throne.work"
             }
           ]
         }
      ],
      "presets": [
        {
          "name": "Contact Page"
        }
      ],
      "enabled_on": {
        "templates": ["page"]
      }
    }
    {% endschema %}
    