{{ 'component--hero.css' | asset_url | stylesheet_tag }}

{% render 'gradient-header' %}

<div class="hero-row">

    {% if section.settings.hero_type == 'GIF' %}
        <div class="hero-gif">
            {% for block in section.blocks %}
                <div class="gif-slide" data-count="{{ forloop.index0 }}">
                    <img src="{{ block.settings.slide_image | image_url: width: 2200 }}" alt="{{ block.settings.slide_image.alt }}" width="100%" height="100%" />
                </div>
            {% endfor %}
        </div>

        <script>
            var slides = jQuery('.gif-slide');
            var slideIndex = 0;

            jQuery(document).on('ready', function() {

                jQuery(slides[slideIndex]).show();

                setInterval(function() {
                    jQuery(slides[slideIndex]).hide();

                    slideIndex = (slideIndex + 1) % slides.length;

                    jQuery(slides[slideIndex]).show();
                }, 300);

            });

        </script>
    {% endif %}

    {% if section.settings.hero_type == 'Slideshow' %}

        <div class="swiper hero-swiper">
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    <div class="swiper-slide" style="background: url('{{ block.settings.slide_image | image_url: width: '2200' }}'); background-size: cover; background-position: center center;">
                        
                    </div>
                {% endfor %}
            </div>
            
            <div class="swiper-pagination"></div>
            
            <div class="swiper-controls">
                <div class="swiper-button-prev">{% render 'icon--arrow-left' %}</div>
                <div class="swiper-button-next">{% render 'icon--arrow-right' %}</div>
            </div>
        </div>

    {% endif %}

</div>

{% schema %}
    {
      "name": "Hero",
      "tag": "section",
      "class": "hero",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
            "type": "select",
            "id": "hero_type",
            "label": "Hero Type",
            "default": "GIF",
            "options": [
                {
                    "label": "GIF",
                    "value": "GIF"
                },
                {
                    "label": "Slideshow",
                    "value": "Slideshow"
                }
            ]
        }
      ],
      "blocks": [
        {
            "type": "slider",
            "name": "Slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "slide_image",
                    "label": "Slide"
                }
            ]

        }
      ],
      "presets": [
        {
          "name": "Page Content"
        }
      ],
      "enabled_on": {
        "templates": ["*"]
      }
    }
{% endschema %}